# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml


# Ignore the virtual environment
.venv/
venv/

# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Django migrations
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3
media/

# Django static files
static/

# IDE specific files (for completeness)
.idea/
.vscode/

